{% extends 'base.html' %}
{% load wagtailcore_tags %}

{% block content %}
<div class="uk-container">
    <h3 class="uk-padding-small uk-padding-remove-left uk-padding-remove-bottom">{{ page.title }}</h3>
    <form class="uk-form-stacked" action="{% pageurl page %}" method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="uk-margin">
            <label class="uk-form-label">{{ field.label }}</label>
            <div class="uk-form-controls">
                {{ field }}
            </div>
        </div>
        {% endfor %}
        <input class="uk-button uk-button-primary margin-bottom-widget" type="submit" value="Submit"/>
    </form>
</div>
{% endblock %}