{% extends 'base.html' %}

{% block extra_js %}
<script src="https://checkout.razorpay.com/v1/magic-checkout.js"></script>
<script>
    window.onload = function() {
        const options = {
            key: "{{razorpay_key}}",
            name: "Framescart India",
            image: "https://framescart.in/images/logo.png",
            amount: "{{order.amount}}",
            currency: "INR",
            order_id: "{{order.id}}",
            redirect: "false",
            handler: function (response) {
                window.location.href = "{{callback_url}}?razorpay_payment_id=" + response.razorpay_payment_id + "&razorpay_order_id=" + response.razorpay_order_id + "&razorpay_signature=" + response.razorpay_signature;
            }
        };
        const rzp = new Razorpay(options);
        rzp.on('payment.failed', function (response) {
            window.location.href = "{{page.url}}failed/";
        });
        rzp.open();
    };
</script>
{% endblock %}

{% block content %}
<div class="uk-container uk-padding-small">
    Processing for payment
</div>
{% endblock %}