{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags product_tags %}

{% block content %}
<div class="uk-container">
    {% if self.get_ancestors|length > 1 %}
    <nav style="margin-top: 15px;" aria-label="Breadcrumb">
        <ul class="uk-breadcrumb">
            {% for p in self.get_ancestors %}
                {% if p.is_root == False %}
                    <li><a href="{{ p.url }}">{{ p.title }}</a></li>
                {% endif %}
            {% endfor %}
            <li><span aria-current="page">{{ self.title }}</span></li>
        </ul>
    </nav>
    {% endif %}
    <div class="uk-flex" uk-grid>
        <div class="uk-width-2-3@m">
            <div uk-slideshow="animation: fade; ratio: 11:7;{% if request.GET.pindex %} index: {{request.GET.pindex}}{% endif %}">
                <div class="uk-slideshow-items">
                    {% for block in page.widgets %}
                        {% if block.block_type == "product_images" %}
                            {% for pimg in block.value %}
                            <div>{% image pimg width-800 height-800 %}</div>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
                <ul class="uk-thumbnav uk-margin">
                    {% for block in page.widgets %}
                        {% if block.block_type == "product_images" %}
                            {% for pimg in block.value %}
                            <li uk-slideshow-item="{{ forloop.counter0 }}"><a href="#">{% image pimg fill-80x50 %}</a></li>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            {{ page.description|richtext }}
        </div>
        <div class="uk-width-1-3@m">
            <h2>{{ page.title }}</h2>
            <h3 class="uk-margin-remove">₹{{ page.price }}</h3>
            <div class="uk-background-muted uk-padding-small">
                {% include "elements/star_rating.html" with page=page %}
                <span style="color: black; top: 3px; position: relative;">Based On Reviews</span>
            </div>
            <razorpay-trusted-business key="rzp_live_rGJH8hVXGEpbLR"></razorpay-trusted-business>
            {{ page.summary|richtext }}
            {% for block in page.widgets %}
                {% if block.block_type == "product_options" %}
                    {% if page.specific.stock_available %}
                    <h4 class="uk-margin-remove-top">Product Options</h4>
                    <form class="uk-form-stacked" method="post">
                        {% csrf_token %}
                        {% for product_option in block.value %}
                        <div class="uk-margin">
                            <label class="uk-form-label">{{product_option.product_attribute_key}}</label>
                            <div class="uk-form-controls">
                                <select class="uk-select" name="{{product_option.product_attribute_key}}">
                                    {% get_attribute_values product_option.product_attribute_values as results %}
                                    {% for item in results %}
                                    <option>{{ item }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="uk-margin">
                            <label class="uk-form-label">Quantity</label>
                            <div class="uk-form-controls">
                                <select class="uk-select" name="quantity">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                        <input class="uk-button uk-button-primary" type="submit" value="Buy Now"/>
                    </form>
                    {% else %}
                    <button class="uk-button uk-button-danger">Out of Stock</button>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% for block in page.widgets %}
        {% if block.block_type == "trending" %}
            <h3>{{ block.value.heading }}</h3>
            <div class="uk-grid-small margin-bottom-widget" uk-grid>
                {% for trending_card in block.value.pages %}
                <a href="{{trending_card.url}}" class="text-decoration-remove uk-width-1-2 uk-width-1-4@m">
                    <div class="uk-card uk-card-default uk-box-shadow-hover-xlarge">
                        <div class="uk-card-media-top">
                            {% for block in trending_card.specific.widgets %}
                                {% if block.block_type == "product_images" %}
                                    {% image block.value.0 original style="width: 100%;" %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="uk-card-body uk-padding-small">
                            <p class="uk-margin-small-bottom">{{trending_card.title}}</p>
                            <p class="uk-margin-remove-top">{% include "elements/star_rating.html" with page=trending_card %}</p>
                            <div class="uk-flex">
                                <h3 class="uk-card-title uk-margin-right">₹{{trending_card.specific.price}}</h3>
                                <div class="uk-margin-remove uk-text-danger"><s>₹{{trending_card.specific.mrp}}</s></div>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        {% elif block.block_type == "synod" %}
            <h3>{{ block.value.heading }}</h3>
            <div class="uk-grid-small margin-bottom-widget" uk-grid>
                {% load_synod_pages block.value.tag as synod_pages %}
                {% for synod_card in synod_pages %}
                <a href="{{synod_card.url}}" class="text-decoration-remove uk-width-1-2 uk-width-1-4@m">
                    <div class="uk-card uk-card-default uk-box-shadow-hover-xlarge">
                        <div class="uk-card-media-top">
                            {% for block in synod_card.specific.widgets %}
                                {% if block.block_type == "product_images" %}
                                    {% image block.value.0 original style="width: 100%;" %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="uk-card-body uk-padding-small">
                            <p class="uk-margin-small-bottom">{{synod_card.title}}</p>
                            <p class="uk-margin-remove-top">{% include "elements/star_rating.html" with page=synod_card %}</p>
                            <div class="uk-flex">
                                <h3 class="uk-card-title uk-margin-right">₹{{synod_card.specific.price}}</h3>
                                <div class="uk-margin-remove uk-text-danger"><s>₹{{synod_card.specific.mrp}}</s></div>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        {% elif block.block_type == "customer_reviews" %}
        <div class="uk-flex" uk-grid>
            <div class="uk-width-2-3@m">
                <h3>Customer Reviews</h3>
                <ul class="uk-comment-list">
                    {% for reviewer in block.value %}
                    <li class="uk-margin">
                        <article class="uk-comment uk-comment-primary" role="comment">
                            <header class="uk-comment-header">
                                <div class="uk-grid-medium uk-flex-middle" uk-grid>
                                    <div class="uk-width-auto">
                                        <img class="uk-comment-avatar" src="https://ui-avatars.com/api/?name={{reviewer.name}}" width="50" height="50" alt="">
                                    </div>
                                    <div class="uk-width-expand">
                                        <h4 class="uk-comment-title uk-margin-remove">{{reviewer.name}}</h4>
                                        <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                                            <li>{% include "elements/customer_star_rating.html" with reviewer=reviewer %}</li>
                                            <li>{% if reviewer.customer_verified %}Verified{% else %}unknown{% endif %}</li>
                                            <li>{{ reviewer.customer_location }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </header>
                            <div class="uk-comment-body">
                                <p>{{ reviewer.comments }}</p>
                            </div>
                        </article>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    <span></span>
</div>
{% endblock %}