<div class="uk-container uk-padding">
    <form class="uk-grid-small" uk-grid>
        <div class="uk-width-1-6@s">
            <h3>Gift Finder</h3>
        </div>
        <div class="uk-width-1-6@s">
            <select class="uk-select">
                <option>Occasion</option>
            </select>
        </div>
        <div class="uk-width-1-6@s">
            <select class="uk-select">
                <option>Gift Type</option>
            </select>
        </div>
        <div class="uk-width-1-6@s">
            <select class="uk-select">
                <option>Recipient</option>
            </select>
        </div>
        <div class="uk-width-1-6@s">
            <select class="uk-select">
                <option>Price</option>
            </select>
        </div>
        <div class="uk-width-1-6@s">
            <button class="uk-button uk-button-primary">Submit</button>
        </div>
    </form>
</div>